<?xml version="1.0" encoding="utf-8"?>

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="de.achimonline.hueciq"
          android:versionCode="12"
          android:versionName="2.8">

    <uses-sdk android:minSdkVersion="12"/>

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.GET_TASKS"/>

    <application android:label="@string/app_name"
                 android:icon="@drawable/ic_launcher">

        <activity android:name="de.achimonline.hueciq.Main"
                  android:label="@string/app_name"
                  android:launchMode="singleTask">

            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>

        </activity>

        <activity android:name="de.achimonline.hueciq.HueBridgeList"/>

        <activity android:name="de.achimonline.hueciq.HuePushLinkAuthentication"/>

        <activity android:name="de.achimonline.hueciq.IQDeviceList"/>

        <activity android:name="de.achimonline.hueciq.Console"
                  android:launchMode="singleTask"/>

        <service android:name="de.achimonline.hueciq.Service"
                 android:process=":serviceprocess">
            <intent-filter>
                <action android:name="de.achimonline.hueciq.Service"/>
            </intent-filter>
        </service>

    </application>

</manifest>
